.hero{
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 9)),url("/assets/recrossbanner.jpg");

}
.club-detail{
    .redcross-club{
        font-family: "montserrat";
        display: flex;
        padding-bottom: 6em;
        justify-content: space-between;
        gap: 4em;
 
        .redcross-club-left{
            width: 40%;
                   button{
                background: green;
                padding: 1em 4em;
                border: 0;
                color: #fff;
                border-radius: 1em 0;
                margin-top: 2em;
                font-family: "montserrat";
                font-size: 1em;
             }
        }
        img{
            border-radius: 1em;
        }
    }
}
.learning-technology-enjoyable{

    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4em;
    .learning-technology-enjoyable-content{

        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        gap: 4em;
        .learning-technology-enjoyable-left{
            font-family: "montserrat";
            width: 40%;
        }
            
            img{
                width: 40%;
                border-radius: 1em;
            }
        
    }
    
}
.whyJoin{
    background: rgb(202, 0, 0);
    padding-top: 4em;
      padding-bottom: 4em;
}
.achivements{
    display: flex;
    justify-content: center;
    .achivementsContent{

    }
}
.getInvolved{
   .getInvolvedContent{
     display: flex;
    justify-content: center;
    align-items: center;

    img{
        width: 50%;
    }
   }
}